{% extends 'cv/cv_menu.html' %}

{% block titleTab %}
	<title>Gautam's CV</title>
{% endblock %}

{% block content %}
    <div class="col-md-11">
        <h2 class="cv-menus well well lg"><a href="{% url 'summarySkillsPage' %}" id="skills_button" class = "cv-section-list">Summary of Skills</a></h2>
        <h2 class="cv-menus well well-lg"><a href="{% url 'EducationPage' %}" id="edu_button" class = "cv-section-list">Education History</a></h2>
        <h2 class="cv-menus well well-lg"><a href="{% url 'projectsPage' %}" id="proj_button" class = "cv-section-list">Projects</a></h2>
        <h2 class="cv-menus well well-lg"><a href="{% url 'workExperiencePage' %}" id="work_button" class = "cv-section-list">Work Experience & Professional Courses</a></h2>
        <h2 class="cv-menus well well-lg"><a href="{% url 'achievementsPage' %}" id="achievement_button" class = "cv-section-list">Achievements & Accomplishments</a></h2>
        <h2 class="cv-menus well well-lg"><a href="{% url 'membershipsPage' %}" id="membership_button" class = "cv-section-list">Memberships & Extra-Curricular</a></h2>
    </div>
{% endblock %}