{% extends 'cv/cv_menu.html' %}

{% block titleTab %}
	<title>Gautam's Education</title>
{% endblock %}

{% block content %}

    {% for deg in uni %}
	    <div class="post well well-lg col-md-5">
           <h2><a href="{% url 'degree_detail' pk=deg.pk %}" id="degree_detail" class="post-title">{{ deg.subject }}: Current 2nd Year</a></h2>
	    	<p>{{ deg.extraInfo |linebreaksbr }}</p>        
	    </div>
    {% endfor %}

    <div class="post well well-lg col-md-2">
        <h2 class="post-title">A-Level</h2>
        {% for A in A_Levels %}
        	<p>{{ A.subject|linebreaksbr }} - {{A.gradeAchieved}}</p>
        {% endfor %}
    </div>

    <div class="post well well-lg col-md-2">
        <h2 class="post-title">AS-Level</h2>
        {% for AS in AS_Levels %}
        	<p>{{ AS.subject|linebreaksbr }} - {{AS.gradeAchieved}}</p>
        {% endfor %}
    </div>
    
    <div class="post well well-lg col-md-2">
        <h2 class="post-title">GCSE</h2>
        {% for gcse in gcses %}
        	<p>{{ gcse.subject|linebreaksbr }} - {{gcse.gradeAchieved}}</p>
        {% endfor %}
    </div>

{% endblock %}