{% extends 'cv/cv_menu.html' %}


{% block titleTab %}
	<title>Gautam's Education</title>
{% endblock %}


{% block content %}
    <div class="post well well-lg col-md-10" style="margin-left:20px; margin-top: 40px;">
        {% if user.is_authenticated %}
     		<a class="btn btn-default" href="{% url 'degree_edit' pk=education.pk %}"><span class="glyphicon glyphicon-pencil"></a>
		{% endif %}
        <h2><a style="color:#8458B3;font-family: Comic Sans MS, cursive, sans-serif;font-style: italic">{{education.subject}} : Current 2nd Year</a><small><br> <br>{{education.membershipDate}}</small></h2>
    	<p>{{ education.extraInfo|linebreaksbr }}</p>
    </div>
{% endblock %}