{% extends 'cv/cv_menu.html' %}

{% block titleTab %}
	<title>Gautam's Memberships</title>
{% endblock %}

{% block content %}
	{% for mem in membs %}
	    <div class="page-header well well-lg col-md-10" style="margin-left:30px;">
	        <h2><a style="color:#8458B3;font-family: Comic Sans MS, cursive, sans-serif;font-style: italic">{{mem.membershipName}}</a><small><br> <br>{{mem.dateMembership}}</small></h2>
	        	<p>{{ mem.description|linebreaksbr }}</p>	        
	    </div>
	{% endfor %}
{% endblock %}