{% extends 'cv/cv_menu.html' %}

{% block titleTab %}
	<title>Gautam's Projects</title>
{% endblock %}

{% block new_addition %}
    <a href="{% url 'projects_new' %}"><span class="top-menu glyphicon glyphicon-plus"></span></a>
{% endblock %}

{% block content %}
	{% for proj in projects %}
	    <div class="post well well-lg ">
        	<h2><a href="{% url 'projects_detail' pk=proj.pk %}" id="proj_detail" class="post-title">{{proj.projectName}}</a><small><br> <br>{{proj.projectDate}}</small></h2>

        	<p>{{ proj.description|linebreaksbr }}</p>	        
	    </div>
	{% endfor %}
{% endblock %}