{% extends 'cv/cv_menu.html' %}

{% block titleTab %}
	<title>Gautam's Projects</title>
{% endblock %}

{% block new_addition %}
    <a href="{% url 'projects_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}

{% block content %}
	{% for proj in projects %}
	    <div class="page-header well well-lg col-md-10" style="margin-left:30px;">
	        <h2><a href="{% url 'projects_detail' pk=proj.pk %}" style="color:#8458B3;font-family: Comic Sans MS, cursive, sans-serif;font-style: italic">{{proj.projectName}}</a><small><br> <br>{{proj.projectDate}}</small></h2>
	        	<p>{{ proj.description|linebreaksbr }}</p>	        
	    </div>
	{% endfor %}
{% endblock %}