{% extends 'cv/cv_menu.html' %}

{% block titleTab %}
	<title>Gautam's Skills</title>
{% endblock %}

{% block content %}
    <div class="page-header well well-lg col-md-10" style="margin-left:20px; padding-top: 0;">
        <h2><a href="{% url 'skills_detail' pk=skills.pk %}" style="color:#8458B3;font-family: Comic Sans MS, cursive, sans-serif;font-style: italic; padding-top:10;">Summary of Skills</a></h2>
        <br> <br>
        <p>{{ skills.text|linebreaksbr }}</p>
    </div>
{% endblock %}