{% extends 'cv/cv_menu.html' %}

{% block titleTab %}
	<title>Gautam's Work Experience</title>
{% endblock %}

{% block new_addition %}
    <a href="{% url 'WorkExperience_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}

{% block content %}
	{% for exp in experiences %}
	    <div class="page-header well well-lg col-md-10" style="margin-left:30px;">
	    	{% if user.is_authenticated %}
	        	<h2><a href="{% url 'WorkExperience_detail' pk=exp.pk %}" style="color:#8458B3;font-family: Comic Sans MS, cursive, sans-serif;font-style: italic">{{exp.companyName}}</a><small><br> <br>{{exp.startDate}}</small></h2>
	        {% else %}
	        	<h2 style="color:#8458B3;font-family: Comic Sans MS, cursive, sans-serif;font-style: italic">{{exp.companyName}}<small><br> <br>{{exp.startDate}}</small></h2>
	        {% endif %}
        	<p>{{ exp.extraInfo|linebreaksbr }}</p>	        
	    </div>
	{% endfor %}
{% endblock %}