{% extends 'cv/cv_menu.html' %}

{% block titleTab %}
	<title>Gautam's Work Experience</title>
{% endblock %}

{% block new_addition %}
    <a href="{% url 'WorkExperience_new' %}"><span class="top-menu glyphicon glyphicon-plus"></span></a>
{% endblock %}

{% block content %}
	{% for exp in experiences %}
	    <div class="post well well-lg">
	    	{% if user.is_authenticated %}
	        	<h2><a href="{% url 'WorkExperience_detail' pk=exp.pk %}" class="post-title">{{exp.companyName}}</a><small><br> <br>{{exp.startDate}}</small></h2>
	        {% else %}
	        	<h2 class="post-title">{{exp.companyName}}<small><br> <br>{{exp.startDate}}</small></h2>
	        {% endif %}
        	<p>{{ exp.extraInfo|linebreaksbr }}</p>	        
	    </div>
	{% endfor %}
{% endblock %}