{% load static %}
<html>
    <head>
        <title>Gautam's Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="top-border-container">
            <div class = "jumbotron">                
                <img src="{% static 'images/Picture1.png' %}" class="media-object col-md-1" style="vertical-align:left;margin:0px 0px;width:210px;height:178px;">
                <img src="{% static 'images/Picture2.png' %}" class="media-object col-md-1" style="vertical-align:left;margin:0px 0px;width:210px;height:178px;">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" ><span class="top-menu glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'post_draft_list' %}" ><span class="top-menu glyphicon glyphicon-edit"></span></a>
                    <a href="{% url 'logout' %}"><span class="top-menu glyphicon glyphicon-log-out"></span></a>
                    <p class="top-menu">Logged in: {{ user.username }} </p>
                {% else %}
                    <a href="{% url 'login' %}" ><span class="top-menu glyphicon glyphicon-lock"></span></a>
                {% endif %}
                <h1><a class="main-header" href="/">Gautam Manjunath </a></h1>
                <p class="sub-header">Hiya! I'm a Computer Science student at The University of Birmingham. Welcome to my website!</p>

            </div>
        </div>

        <div class="content-container">
            <div class="row">
                <div class="col-md-10 text-justify main-area">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="button-menu col-md-2">
                    <a href="/" type="button" class="btn btn-primary btn-block active">Home - Blog</a>
                    <a href="/cv" type="button" class="btn btn-primary btn-block">CV</a>
                    <a href="https://facebook.com" type="button" class="btn btn-primary btn-block">Facebook</a>
                    <a href="https://twitter.com" type="button" class="btn btn-primary btn-block">Twitter</a>
                    <a href="https://linkedin.com" type="button" class="btn btn-primary btn-block">LinkedIn</a>
                </div>
            </div>
        </div>
    </body>
</html>