.page-header {
    background-color: #8458B3;
    margin-top: 0;
    padding: 10px 20px 20px 25px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
/*    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;*/

	padding: 0px;
	text-align: left;
	color: white;
	font-size: 36pt;
}

.page-header h1 b{
	padding: 0px;
	text-align: center;
	color: white;
	font-size: 14pt;
	font-style: italic;
}


.content {
    margin-left: 40px;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: "Comic Sans MS", cursive, sans-serif

}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 10px;
    margin-top: 100px;
}

.post {
    margin-bottom: 70px;
    padding-left: 10px;
    font-family: "Arial", cursive, sans-serif

    
}

.post h2 a, .post h2 a:visited {
    color: #000000;
    font-style: italic;
}

body{
	background-color: #E7DCFA;
}

