h1.top-border-container a {
    padding: 0px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: text-right;
    color: white;
    background-color: #8458B3;
    font-size: 36pt;
    padding: 0px 100px 0px 0px;
}

.main-area {
    padding-top: 172px;
    padding-left: 20px;
}

.sub-header {
    color:#DEDBF8;
    margin-top: 25px;
    font-style: italic;
}

.main-header, .main-header:hover {
    color:white;
    font-family: Comic Sans MS, cursive, sans-serif;
}

.post-title {
    color:#8458B3;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-style: italic
}

.cv-section-list {
    color:#8458B3;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-style: italic;
    margin-top: 20px;
}


p.top-border-container, a.top-border-container {
    padding-left: 10px;
    background-color: #8458B3;
    text-align: right;
    font-family: "Comic Sans MS", cursive, sans-serif
    color: white;
    font-size: 16pt;
}

.top-menu {
    text-align: text-right;
    margin-top: 100px;
}

.button-menu { 
    text-align: text-center;
    position: fixed;
    left: 84%;
    top: 23%;
    width: 290px;
    font-color: #8458B3;
}

.btn{
    font-size: 16pt;
    text-align: text-center;
    background-color: #b59ad1

}

.btn:hover, .btn:focus{
     background: #8458B3 !important;
}

.jumbotron{
    background-color: #8458B3;
    margin-top: 0;
    padding: 5px 100px 0px 0px;
    font-color: white;
    text-align: text-center;
    width: 100%;
    position: fixed;
    z-index: 999;

}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;

}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 10px;
    margin-top: 100px;
}

.post {
    top:23%;
    margin-bottom: 50px;    
    font-family: "Arial", cursive, sans-serif
    left:30%;
    margin-top: 40px;
    margin-left:20px;
}

.cv-menus {
    margin-bottom: 10px;    
    font-family: "Arial", cursive, sans-serif
    left:30%;
    margin-top: 40px;
    margin-left:20px;
}



.post h2 a, .post h2 a:visited {
    color: #8458B3;
    font-style: italic;
}

body{
    background-color: #E7DCFA;
    font-size: 170%;
    overflow-y: scroll;
}